
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Used Car Price Prediction</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<nav class="navbar">
		<h1>Used Car Price Prediction</h1>
		<ul>
			<li><a href ="{{ url_for('logout') }}">Sign Out</a></li>
			<li><a href="{{ url_for('about') }}">About</a></li>
			<li><a href="{{ url_for('contact') }}">Reach us</a></li>
			<li><a href="{{ url_for('history') }}">History</a></li>
		</ul>
		<div class="dropdown">
			<button class="dropbtn">Menu</button>
			<div class="dropdown-content">
				<a href="{{ url_for('logout') }}">Sign Out</a>
			  	<a href="{{ url_for('about') }}">About</a>
			  	<a href="{{ url_for('contact') }}">Reach us</a>
				<a href="{{ url_for('history') }}">History</a>
			</div>
		</div>
	</nav>

	<!-- Description of Service -->
	<div class="text-container">
		<h2>Welcome to used car price prediction service!</h2>
        <hr><br>
		<p> Our goal is to provide you with an accurate estimate of the selling price of your car, based on a range of factors that influence the value of a vehicle. Whether you're looking to sell your car or buy a new one, our service can help you make informed decisions about pricing.
        <br><b>To determine the value of your Car click on the "Predict Value" button alongside</b></p></div>

	{% if prompt is defined and prompt %}
		<div class="warning">{{ prompt }}</div>
	{% endif %}
	
	<!-- Button to Form Page -->
	<div class="button">
		<button class="button-pulsate" onclick="location.href='/prediction-form';">Predict Value</button>
	</div>
	<footer>
		<p>&copy; 2023 Used Car Price Prediction System. All rights reserved.</p>
	</footer>
	
	
</body>
</html>
